<h1>Dodaj model</h1>
<form action="/model3D/add" method="post" enctype="multipart/form-data">
    <input aria-label="t" type="text" name="name" placeholder="ime modela" required>
    <input aria-label="t" type="text" name="description" placeholder="opis" required>
    <input aria-label="t" type="number" name="estimatedPrintTime" placeholder="Äas tiska v minutah" required>

    <input type="file" name="images" multiple required>

    <div class="tp">
        <input type="submit" value="Dodaj">
    </div>
</form>