<h1>Prijava</h1>
<form action="/lockers" method="post">
    <label>
        <input type="text" name="name" placeholder="Name of the locker" required>
    </label>
    <label>
        <input type="text" name="location" placeholder="Location of the locker" required>
    </label>
    <label>
        <input type="text" name="label" placeholder="Label of the locker" required>
    </label>
    <div class="tp">
        <input type="submit" value="Add locker">
    </div>
</form>